*{
            /* Formateo de CSS, sugerencia de CoderHouse */
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
            /* Quita el subrayado predeterminado */
    text-decoration: none;   
            /* Cambio de fuente y color */               
    font-family: "Oswald", sans-serif;
    color: #052b20;
}
           /* ------------------- HEADER -------------------- */
.header{
    background-color: rgb(13, 122, 91);
    display: flex;
    padding-top: 3px;
    justify-content: space-between;
    align-items: center;
}
            /* Personalizacion del titulo de cada pestaña */
.titulo{                                
    font-size: 44px;
    text-decoration: none;
}
.header-titulo{
    display: flex;      /* hago flex el logo y el titulo */
    gap: 10px;
    align-items: center;
    padding-left: 20px;
}
            /* Tamaño logo de colibri */
.logo-colibri{
    height: 4rem;
    padding: 2px;
}
    /* tamaño y distancias de icono de usuario */
.login-icon{
    width: 1.5rem;
    height: 1.5rem;
    margin: .5rem;
    align-self: center;
}


        /* -------------------- BODY ------------------- */
            /* Cambio de color del fondo del body*/
.main-inicio{
    background-color: rgb(48, 136, 111); 
}

.section-bienvenida{
    display: block; 
    justify-items: center;
}
.image-portada{
    width: auto;
    height: 660px;
    display: block;
    justify-content: center;
    margin: 5px;
}
.boton-iniciosesion{
    display: block;
    justify-content: center;
    padding: 4px 30px 4px 30px;
    background-color: rgb(13, 122, 91);
    border: 1px black solid;
}
/* Estilo de los producto destacados (PD) en el index */
/* Saco el subtitulado de los titulos h2*/
.link{
    font-size: 26px;
    text-decoration: none;
}
.header-PD{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    font-size: 24px;
}
.contenido-PD{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    margin: 10px 20px;
    width: 90%;
}
article{
    justify-items: center;
}
.index-producto{
    width: auto;
    height: 440px;
}
.index-producto:hover{
    scale: 1.02;
}
/* Estilo de los posteos recientes (PR) en el index*/
.header-PR{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px;
    font-size: 24px
}
.contenido-PR{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    padding: 10px 20px;
    width: 100%;
}
.index-posteo{
    width: auto;
    height: 230px;
}
.index-posteo:hover{
    scale: 1.02;
}


/* ---------------------- Relacionados al footer -------------------------------------------- */
footer{
    background-color: rgb(13, 122, 91); /* Cambio de color del fondo del footer*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div{
    margin: 1rem;
}
/* Terminos y condiciones */
footer div ul{
    list-style: none;
}
       /* Icono redes sociales*/
footer nav ul{
    display: flex ;
    list-style: none;
    margin: 1rem;
}
/* Tamaño y alineacion de iconos de redes en footer */
.social-icon{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
/* Aumento de tamaño de los iconos al pasar sobre ellos*/
.social-icon:hover{
    scale: 1.2;
}

/* ------------------------------------- pagina productos -------------------------------- */

            /* Clases para los productos en la pestaña Productos*/
/* layout de products */ 
.main-productos{
    background-color: rgb(48, 136, 111); 
    display: grid;
    grid-template-columns: 13% 87%;
    grid-template-rows: 1;
} 
/* Oculto el boton de categorias */
.boton-categorias{
    display: none;
}
/* Categorias (aside): Declaro q es la primer columna y le doy estilo */
.sidebar {
    grid-column: 1;
    height: 110vh;  /* Este valor es para que se alinee con el boton */
    background-color: rgb(13, 122, 91);
    margin: 5px;
}
/* Saco los items por estetica de las categorias y subcatergorias */
.listado-categorias{
    list-style: none;
}
.subcat{
    list-style: none;
}

/* Zona productos (section): Declaro que es la segunda columna y le doy layout propio*/
.section-cardproduct{
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 2fr 2fr .3fr; /* El ultimo valor es para el boton*/
    justify-items: center; /* Alinea el contenido en el centro*/
}
.cardproduct{
    justify-items: center;
}
/* Subraya todos los items list - Opciones de navbar, categorias, PdP y TyC */
li:hover{
    text-decoration: underline;
}

.cardproduct:hover{
    scale: 1.05;
}
/* Tamaño de imagen de producto */
.imagen-producto{
    width: 250px;
    height: 300px;
}
.titulo-productos{
    font-size: 28px;  
    padding-top: 10px; 
}
.nombre-producto{
    font-size: 22px;
    margin: 0px;
}
.precio-producto{
    font-size: 24px;
    margin: 0px;
    padding-bottom: 10px;
}
/* Estetica y pseudoclase al boton "Ver mas"*/
.boton-vermas{
    grid-area: 3/1/3/5;
    background-color: rgb(13, 122, 91);
    border: 1px black solid;
    width: 75%;
}
button:hover{
    scale: 1.02;
}

/* ------------------ Pagina contacto ----------------------- */
.main-contacto{
    background-color: rgb(48, 136, 111); 
}

.section-contact{
    padding: 1rem;
}

form{
    display: grid;
    grid-template-columns: 10% 10% 60% 30%;
    grid-template-rows: 2rem 2rem 6rem 6rem 2rem 2rem;
    margin: 1rem 2rem;
    gap: 1rem;

}
/* Layout de formulario: | label |      input      | */
.lb-nombre{
    grid-area: 1/2/2/3;
}
.inp-nombre{
    grid-area: 1/3/2/4;
}


.lb-email{
    grid-area: 2/2/3/3;
}
.inp-email{
    grid-area: 2/3/3/4;
}


.lb-motivo{
    grid-area: 3/2/4/3;
}
.inp-motivo{
    grid-area: 3/3/4/4;
}


.lb-consulta{
    grid-area: 4/2/5/3;
}
.inp-consulta{
    grid-area: 4/3/5/4;
}
textarea{
    width:auto; 
    height:6rem;
} 


.inp-checkbox{
    grid-area: 5/3/6/4;

}


.boton-enviar{
    grid-area: 6/3/7/4;
    width: 50%;
    justify-self: center;
    background-color: rgb(13, 122, 91);
    border: 1px black solid;
}

/*  Mapa */
.section-mapa{
    padding: 1rem;
}
.mapa{
    margin: 1rem 2rem;
    width: 40rem;
    height: 20rem;
   align-self: center;
}

/* ------------ QUERYES para telefono ------------------ */ 
@media (max-width:600px){  
    .bienvenida{
        font-size: 20px;
        justify-self: center;
        padding: .5rem 0rem;
    }
    .image-portada{
        width: 100%;
        height: auto;
    }
    .contenido-PD{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .index-producto{
        width: 100%;
        height: auto;
    }
    .contenido-PR{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .index-posteo{
        width: 100%;
        height: auto;
    }
    /* Ubicacion inversa y en columna para el footer */
    footer{
        flex-direction: column-reverse;
    }
    /* Alineacion de las politicas, los terminos y condiciones*/
    footer div{
        display: flex;
        flex-direction: column;
        align-items: center;  
    }

    /* -------------- Pagina Productos (query) ----------------------- */
    /* Saco el aside con las categorias */
     .sidebar{
        display: none;
    }
    /* Formato del boton desplegable de categorias */
    .boton-categorias{
        display: block;
        padding: 2px;
        background-color: rgb(13, 122, 91);
        border: 2px black solid;
        font-size: 20px;
        width: 50%;
    }
    /* Dispongo un nuevo Layout */
    .main-productos{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 1rem;
    }
    .section-cardproduct{
        display: flex;
        flex-direction: column;
    }
    /* Acomodo esteticamente la pagina */
    .cardproduct{
        margin: .8rem;
    }
    .imagen-producto{
        width: 100%;
        height: auto;
    }
    .boton-vermas{
        width: 50%;
        align-self: center;
        margin-bottom: 1rem; 
    }

    /* ------------------ Pagina contacto (query) ------------------------ */
    form{
        display: grid;
        grid-template-columns: 25% 75%;
    }
    .lb-nombre{
        grid-area: 1/1/2/2;
    }
    .inp-nombre{
        grid-area: 1/2/2/3;
    }

    .lb-email{
        grid-area: 2/1/3/2;
    }
    .inp-email{
        grid-area: 2/2/3/3;
    }

    .lb-motivo{
        grid-area: 3/1/4/2;
    }
    .inp-motivo{
        display: flex;
        flex-direction: column;
        grid-area: 3/2/4/3;
    }

    .lb-consulta{
        grid-area: 4/1/5/2;
    }
    .inp-consulta{
        grid-area: 4/2/5/3;
    }
    textarea{
        width:auto; 
        height:100%;
    } 
    .inp-checkbox{
        grid-area: 5/1/6/3;
        justify-self: center;
    }
    .boton-enviar{
        grid-area: 6/1/7/3;
        width: 50%;
        justify-self: center;
    }
    /*  Mapa */
    .mapa{
        margin: 2rem;
        width: 20rem;
        height: 14rem;
    }

}