*{
            /* Formateo de CSS, sugerencia de CoderHouse */
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
            /* Quita el subrayado predeterminado */
    text-decoration: none;   
            /* Cambio de fuente */               
    font-family: "Oswald", sans-serif;
}
           /* ------------------- HEADER -------------------- */
.header{
    background-color: rgb(35, 122, 97);
    display: flex;
    padding-top: 3px;
    justify-content: space-between;
    align-items: center;
}
            /* Personalizacion del titulo de cada pestaña */
.titulo{                                
    font-family: "Oswald", sans-serif;
    font-size: 40px;
}
.header-titulo{
    display: flex;      /* hago flex el logo y el titulo */
    gap: 10px;
    padding-left: 20px;
}
.header-pages{
    display: flex;      /* hago flex nav e icono de inicio sesion */
    flex-wrap: wrap;
}

.header-nav{
    display: flex;      /* hago flex la lista de navegacion */
    flex-wrap: wrap;
    gap: 25px;              
    list-style: none;  
    justify-content: center;
    align-items: center;
}

            /* Tamaño logo de colibri */
.logo-colibri{
    height: 4rem;
}
            /* tamaño y distancias de icono de usuario */
.login-icon{
    width: 2rem;
    height: 2rem;
    margin-left: 25px;
    margin-right: 20px;
}


        /* -------------------- BODY ------------------- */
            /* Cambio de color del fondo del body*/
body{
    background-color: rgb(48, 136, 111); 
}
     /* Mediante selector descendente porque por clase no funciona, los a no heredan */
nav ul li a{
    color: black;
}
.section-bienvenida{
    display: block;
    justify-items: center;
}
.image-portada{
    width: 600px;
    height: auto;
    display: block;
    justify-content: center;
    margin: 5px;
}
button{
    display: block;
    justify-content: center;
    padding: 4px 30px 4px 30px;
}
            /* Estilo de los producto destacados (PD) en el index */
h2{
    font-size: 26px;
}
.link{
    color: black; /* pongo las opciones de link en negro*/
}
.header-PD{
    display: flex;
    height: 30px;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px;
}
.contenido-PD{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin: 10px;
}
.index-producto{
    width: auto;
    height: 350px;
    flex-wrap: wrap;
}

            /* Estilo de los posteos recientes (PR) en el index*/
.header-PR{
    display: flex;
    height: 30px;
    align-items: center;
    gap: 15px;
    margin: 10px;
}
.contenido-PR{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin: 10px;
}
.index-posteo{
    width: auto;
    height: 200px;
    flex-wrap: wrap;
}



            /* Relacionados al footer */
footer{
    background-color: rgb(13, 122, 91); /* Cambio de color del fondo del footer*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div{
    margin: 1rem;
}
/* Terminos y condiciones */
footer div ul{
    list-style: none;
}
       /* Icono redes sociales*/
footer nav ul{
    display: flex ;
    list-style: none;
    margin: 1rem;
}
/* Tamaño y alineacion de iconos de redes en footer */
.social-icon{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
/* Aumento de tamaño de los iconos al pasar sobre ellos*/
.social-icon:hover{
    scale: 1.2;
}

/* ------------------- pagina productos ---------------- */

            /* Clases para los productos en la pestaña Productos*/
/* layout de products */ 
.main-productos{
    display: grid;
    grid-template-columns: 14% 80%;
    grid-template-rows: 1;
} 

/* Categorias (aside): Declaro q es la primer columna y le doy estilo */
.sidebar {
    grid-column: 1;
    padding: 0px 20px;
    height: 110vh;  /* Este valor es para que se alinee con el boton */
    background-color: rgb(13, 122, 91);
    margin: 1rem;
}
/* Saco los items por estetica */
aside ul{
    list-style: none;
}
/* Le doy margen a las subcategorias para distinguirlas */
.subcat{
    margin-left: 20px;
}
/* Subraya todos los items list - Opciones de navbar, categorias, PdP y TyC */
li:hover{
    text-decoration: underline;
}

/* Zona productos (section): Declaro que es la segunda columna y le doy layout propio*/
.section-cardproduct{
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 2fr 2fr .3fr; /* El ultimo valor es para el boton*/
    gap: 1rem;
    justify-items: center; /* Alinea el contenido en el centro*/
}
.cardproduct:hover{
    scale: 1.05;
}
/* Tamaño de imagen de producto */
.imagen-producto{
    width: 250px;
    height: 300px;
}
.titulo-productos{
    font-size: 28px;   
    margin-top:1rem;
}
/* Estetica y pseudoclase al boton "Ver mas"*/
button{
    margin-top: 10px;
    margin-right: 1rem;
    grid-area: 3/1/3/5;
    background-color: rgb(13, 122, 91);
    border: 1px black solid;
    width: 75%;
}
button:hover{
    scale: 1.02;
}



/* ------------ QUERYES para telefono ------------------ */ 
@media (max-width:600px){
    /* Ubicacion entre el texto y la navegacion */
    header{
        flex-direction: column;
    }
    h2{
        font-size: 16px;
    }
    h3{
        font-size: 14px;        
    }
    /* Flex de las opciones */
    .header-nav{
        flex-direction: column; 
    }
    /* flex para el icono de usuario */
    .header-pages{
        flex-direction: column;
    }
    /* Ubicacion inversa y en columna para el footer */
    footer{
        flex-direction: column-reverse;
    }
    /* Pagina productos */
    
    .sidebar{
        display: none;
    }
    .section-cardproduct{
        /* Se puede cambiar de grid a flex?No puedo con grid */
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

}



