
@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;


// ---------- Pagina Contacto --------
.main-contacto{
    background-color: $color-bg-principal;
    height: 100%;
    .section-contact{
        padding: 1rem;
    }
    form{
        display: grid;
        @include grid(10% 10% 60% 30%, auto);
        margin: 1rem 2rem;
        gap: 1rem;
        // Layout de formulario: | label |      input      | 
        .lb-nombre{
            grid-area: 1/2/2/3;
        }
        .inp-nombre{
            grid-area: 1/3/2/4;
        }


        .lb-email{
            grid-area: 2/2/3/3;
        }
        .inp-email{
            grid-area: 2/3/3/4;
        }


        .lb-motivo{
            grid-area: 3/2/4/3;
        }
        .inp-motivo{
            grid-area: 3/3/4/4;
        }


        .lb-consulta{
            grid-area: 4/2/5/3;
        }
        .inp-consulta{
            grid-area: 4/3/5/4;
        }
        textarea{
            width:auto; 
            height:6rem;
        }         
        .inp-checkbox{
            grid-area: 5/3/6/4;
        }
        .boton-enviar{
            grid-area: 6/3/7/4;
            @include boton(50%, 5px);
        }
    }
    //  Mapa 
    .section-mapa{
        padding: 1rem;
        .mapa{
            @include dimensionar(800px, 400px, 5px 10px);
        }
    }
}